---
layout: page
title: "About"
description: "About Mihyun"
header-img: "img/about-bg.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

<script src="https://utteranc.es/client.js"
        repo="MilenaLee/milenalee.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
